<div class="top-navbar d-flex flex-column justify-content-around gap-3 p-3 mb-lg-2">
  <div (click)="goToContactList()" 
  (keydown.enter)="goToContactList()" 
  (keydown.space)="goToContactList()" 
  tabindex="0"  class="w-100 d-flex flex-row justify-content-end">
    <i class="fa-solid fa-plus fs-4"></i>
  </div>

  <div *ngIf="isLoading">
    Loading...
  </div>
  <div *ngIf="!isLoading">
    <div class="contact-count" *ngIf="contactCount > 0">
      <h1 class="h4 mb-0">My Contacts</h1>
      <span class="text-secondary small">Friends ({{ contactCount }})</span>    </div>
    <div class="no-contacts" *ngIf="contactCount === 0">
      No contacts available.
    </div>
  </div>

  <div class="w-100 d-flex flex-row justify-content-evenly border-bottom border-top navs">
    <button type="button" class="text-primary shadow-none border-0 bg-transparent fw-bold">All Contacts</button>
    <button type="button" class="text-secondary border-0 bg-transparent">Office</button>
    <button type="button" class="text-secondary border-0 bg-transparent">Family</button>
    <button type="button" class="text-secondary border-0 bg-transparent">New Group</button>
  </div>

  <div class="w-100 d-flex align-items-center gap-2 bg-secondary-subtle rounded-pill px-3 py-2 w-25">
    <i class="fa-solid fa-magnifying-glass fs-5 text-secondary"></i>
    <input type="text" class="border-0 p-1 w-100 bg-transparent"  [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Search contacts..."/>
  </div>
</div>
